// - imports
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import '../elements/mixins.scss';
@import '../elements/keyFrames.scss';

// - variáveis [4|8 pointGrid]

$nPadding: 4px;
$nMargin: 4px;
$nRadius: 4px;
$nFont-Size: 12px;

$vColor-1: #4169e1;
$vColor-2: #4eff98;
$vColor-3: #ffaa33;
$vDark: #28282b;
$vWhite: #e5e4e2;
$vDark-off: #343434;
$vWhite-off: #faf9f6;

// - estilização
*,
*::before,
*::after {
	// Generálização
	box-sizing: border-box;

	font-family: 'Jost', sans-serif;
	font-optical-sizing: auto;
	font-weight: 400;
	font-style: normal;
}
body {
	padding: 0;
	margin: 0;
	background: linear-gradient(
		180deg,
		rgba(65, 105, 225, 1) 0%,
		rgba(78, 255, 152, 1) 100%
	);
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;

	#root {
		height: 100vh;
		display: flex;
		justify-content: center;
	}
	&::-webkit-scrollbar {
		display: none;
	}
}
.box {
	width: 680px;
	height: 640px;
	margin-top: $nMargin * 4;
	// background-color: $vColor-1;
	display: grid;
	row-gap: 8px;
	grid-template-rows: 48px 1fr;

	.menuApp {
		background-color: $vDark;
		border-radius: $nRadius;
		padding: $nPadding * 2 $nPadding * 4;
		align-items: center;
		display: flex;
		gap: 4px;

		button.buttonMenu {
			background-color: transparent;
			border: none;
			color: $vWhite;
			cursor: pointer;
			transition: 0.3s;
			display: grid;
			place-items: center;
			width: auto;

			span {
				font-weight: 480;
			}

			&.abaActive {
				background-color: #343434;
			}
		}
		button.createNote {
			min-width: 48px;
			height: 28px;
			border-radius: $nRadius;
			color: $vWhite;
			background: rgb(65, 105, 225);
			border: none;
			font-size: 12.4px;
			padding: 0px $nPadding * 2;
			margin-left: auto;
			white-space: nowrap;
			cursor: pointer;

			display: flex;
			justify-content: center;
			align-items: center;
			gap: 4px;

			svg {
				font-size: 16px;
			}

			&:active {
				transform: scale(0.9);
			}
		}
		input.dateInput {
			margin-left: auto;
			background: transparent;
			border: 2px solid $vDark-off;
			padding: 4px 8px;
			border-radius: 4px;
			color: silver;
			position: relative;
			right: 12px;
			outline: none;
			transition: 0.3s;

			&:focus {
				transition: 0.3s;
				border: 2px solid $vColor-2;
			}

			&:not(:focus):hover {
				transition: 0.3s;
				border: 2px solid silver;
			}

			&::-webkit-calendar-picker-indicator {
				cursor: pointer;
				filter: brightness(100%) hue-rotate(0deg) invert(1);
			}
		}
		span.nameApp {
			@include font-grad($vColor-1, $vColor-2);
			font-weight: 560;
			cursor: default;
			margin-left: auto;
			margin-right: 40px;
		}
		.onAba {
			transition: 0.3s;
			@include font-grad($vColor-2, $vColor-1);
		}
	}
	.notesField {
		border-radius: $nRadius;
		padding: $nPadding * 2;
		// background-color: $vDark;
		display: flex;
		flex-direction: column-reverse;
		justify-content: flex-end;
		gap: 8px;

		.note {
			background-color: $vDark;
			min-height: 120px;
			border-radius: $nRadius;
			padding: $nPadding * 2;
			display: grid;
			gap: 4px;
			animation: inNote 0.4s;

			&.onNote {
				animation: inNote 0.5s;
			}
			&.offNote {
				animation: outNote 0.25s;
			}
			.colorNote {
				background-color: $vColor-2;
				border-radius: $nRadius;
			}
			.formNote {
				// background-color: #E5E4E2;
				border-radius: $nRadius;
				display: grid;
				grid-template-rows: 32px auto 28px;
				row-gap: 4px;
				padding: 0px $nPadding * 2;

				input {
					background-color: transparent;
					border: none;
					border: 2px solid transparent;
					outline: none;
					border-radius: $nRadius;
					font-size: 16px;
					padding: $nPadding;
					color: $vWhite-off;

					&:focus {
						transition: 0.3s;
						border: 2px solid $vColor-2;
					}

					&:not(:focus):hover {
						transition: 0.3s;
						border: 2px solid $vDark-off;
					}
				}
				textarea {
					background-color: transparent;
					border: none;
					resize: none;
					border: 2px solid transparent;
					outline: none;
					border-radius: $nRadius;
					transition: 0.2s;
					font-size: 12px;
					padding: $nPadding;
					color: $vWhite;
					height: 28px;

					display: -webkit-box;
					-webkit-line-clamp: 1;
					-webkit-box-orient: vertical;
					overflow: hidden;
					font-size: 12px;

					&:focus {
						transition: 0.3s;
						border: 2px solid $vColor-2;
						height: 120px;
						overflow: auto;
						display: block;
					}

					&:not(:focus):hover {
						transition: 0.3s;
						border: 2px solid $vDark-off;
					}
					&::-webkit-scrollbar {
						display: none;
					}
				}
				.toolsNote {
					display: flex;
					gap: 8px;
					font-size: 12px;
					align-items: center;
					color: $vWhite;

					button {
						display: flex;
						align-items: center;
						justify-content: center;
						background: transparent;
						border: none;
						color: $vWhite;
						transition: 0.2s;

						cursor: pointer;
						svg {
							font-size: 16px;
						}
						&.deleteNote:hover {
							transition: 0.2s;
							color: rgb(252, 129, 129);
						}
					}
					input.validade {
						color: rgb(114, 114, 114);
						width: auto;
						font-size: 10px;
						transition: 0.3s;

						&::-webkit-calendar-picker-indicator {
							cursor: pointer;
							filter: brightness(20%) hue-rotate(0deg) invert(1);
						}
						&:hover{
							color: silver;
							transition: 0.3s;
						}
					}
					span.trueDate{
						margin-left: auto;
						color: rgb(116, 116, 116);
					}
				}
			}
		}
	}
}
